$base_path: './../../fonts';
$icon-path: 'icon';
$icon-name: 'font-icon';

@font-face {
  font-family: 'icon';
  src: url('#{$base_path}/#{$icon-path}/#{$icon-name}.woff'),
       url('#{$base_path}/#{$icon-path}/#{$icon-name}.eot'),
       url('#{$base_path}/#{$icon-path}/#{$icon-name}.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="icon-"], i[class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  action-items: "\e91f",
  activity: "\e920",
  alarm: "\e971",
  align: "\e955",
  arc-projects: "\e921",
  archive: "\e93b",
  arrow-down: "\e960",
  arrow-left: "\e961",
  arrow-right: "\e963",
  arrow-up: "\e962",
  association: "\e98a",
  atsign: "\e90f",
  attachment: "\e919",
  bag: "\e973",
  bold: "\e912",
  bookmark: "\e925",
  bookmark-fill: "\e926",
  briefcase: "\e974",
  bullets: "\e916",
  buy: "\e975",
  calendar: "\e940",
  call: "\e968",
  call-mute: "\e96b",
  call-reject: "\e96a",
  calling: "\e969",
  camera: "\e946",
  category: "\e935",
  chart: "\e979",
  check: "\e94f",
  check-square: "\e950",
  chevron-down: "\e958",
  chevron-down-fill: "\e95c",
  chevron-left: "\e959",
  chevron-left-fill: "\e95d",
  chevron-right: "\e95b",
  chevron-right-fill: "\e95f",
  chevron-up: "\e95a",
  chevron-up-fill: "\e95e",
  clock: "\e942",
  clock-square: "\e943",
  close: "\e951",
  close-square: "\e952",
  comment: "\e908",
  discount: "\e978",
  discovery: "\e97b",
  dislike: "\e92b",
  dislike-fill: "\e92c",
  dollar: "\e990",
  download: "\e90e",
  download-cloud: "\e964",
  draft: "\e90c",
  due-date: "\e941",
  filter: "\e92e",
  filter-line: "\e930",
  gallery: "\e944",
  game: "\e97d",
  graph: "\e97a",
  heart: "\e92d",
  hide: "\e97f",
  home: "\e91a",
  homes: "\e91b",
  info-circle: "\e94c",
  info-square: "\e94b",
  italic: "\e913",
  key: "\e980",
  like: "\e929",
  like-fill: "\e92a",
  link: "\e918",
  list: "\e98b",
  location: "\e97c",
  lock: "\e981",
  masonary: "\e98c",
  master-card: "\e976",
  menu: "\e931",
  message: "\e906",
  message-circle: "\e907",
  messages: "\e905",
  microphone: "\e96f",
  minus: "\e957",
  more-circle: "\e934",
  more-horizontal: "\e932",
  more-square: "\e933",
  mute: "\e96e",
  move-to-folder: "\e98d",
  note: "\e909",
  note-add: "\e90b",
  note-ignore: "\e90a",
  note-upload: "\e90d",
  numbering: "\e917",
  pen: "\e936",
  play: "\e948",
  plus: "\e94d",
  plus-square: "\e94e",
  print: "\e953",
  priority: "\e92f",
  read: "\e93d",
  refresh: "\e983",
  resident-requests: "\e98e",
  resident-request-rec: "\e991",
  report: "\e949",
  scan: "\e984",
  search: "\e938",
  send: "\e939",
  setting: "\e93a",
  shield-done: "\e985",
  shield-fail: "\e986",
  show: "\e97e",
  sign-in: "\e965",
  sign-out: "\e967",
  slide-right: "\e956",
  smile: "\e910",
  sort: "\e954",
  speaker: "\e923",
  speaker-fill: "\e924",
  star: "\e927",
  star-circle: "\e911",
  star-fill: "\e928",
  strike: "\e915",
  task: "\e91c",
  task-add: "\e93f",
  tag: "\e93e",
  ticket: "\e988",
  ticket-star: "\e987",
  trash: "\e937",
  underline: "\e914",
  unlock: "\e982",
  unread: "\e93c",
  upload-cloud: "\e966",
  user: "\e900",
  users: "\e903",
  user-add: "\e901",
  wallet: "\e977",
  warning: "\e94a",
  woman-manager: "\e902",
  work-order: "\e91e",
  video: "\e947",
  violation: "\e91d",
  volume-down: "\e96d",
  volume-up: "\e96c",
  vote: "\e922",
  add-folder: "\e994",
  high: "\e995",
  medium: "\e996",
  low: "\e997",
  folder-v2: "\e998",
  folder-fill: "\e999"
);

@each $icon in map_keys($icons) {
  .icon-#{$icon}::before {
    content: map_get($icons, $icon);
  }
}
