@import "../mixins/responsive";

$master-detail-card-color: #fff;
$master-detail-border-color: #e5e5e5;
$master-detail-item-color-active: #f6f9fd;
$master-detail-item-color-deactive: #f8f8f8;
$master-detail-item-ribbon-color: #1b67db;
$master-detail-item-ribbon-size: 3px;
$master-detail-text-main-color: #666;
$master-detail-placeholder-color: #999;
$header-min-height: 50px;

.master-detail {
  &__wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  &__master {
    //min-width: 450px;
    position: relative;
    //transition: width .2s ease-in-out;
  }

  &__detail {
    flex: 1;
  }

  &__card {
    background-color: $master-detail-card-color;
    box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;

    @include screen-medium {
      border-radius: 4px 4px 0 0;
    }

    &__header {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 1px solid $master-detail-border-color;
      min-height: $header-min-height;
      @include screen-medium {
        padding: 10px 20px;
      }
    }

    &__body {
      overflow-y: auto;
      height: 100%;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    //height: 100%;
  }

  &__item {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 0;
    transition: background .2s ease;
    min-height: 4.6rem;
    border-bottom: 1px solid $master-detail-border-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    -webkit-tap-highlight-color: transparent;

    @include screen-medium {
      padding: 15px 20px;
      justify-content: space-between;
    }

    &:hover {
      background: $master-detail-item-color-active;

      .master-detail__item__more {
        visibility: visible;
      }
    }

    &--selected {
      position: relative;
      background: $master-detail-item-color-active !important;

      &::after {
        content: '';
        position: absolute;
        width: $master-detail-item-ribbon-size;
        background: $master-detail-item-ribbon-color;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    &--deactive {
      background: $master-detail-item-color-deactive;
    }

    &__content {
      display: flex;
      flex: 1;
      align-items: center;
      color: #444;
    }

    &__description {
      flex: 1;
      margin-right: 10px;
    }

    &__title {
      font-size: 1.4rem;
      word-break: break-all;
    }

    &__subtitle {
      font-size: 1.2rem;
      color: $master-detail-placeholder-color;
      word-break: break-all;
    }

    &__more {
      visibility: hidden;
      cursor: pointer;
    }
  }

  &__empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__icon {
      max-height: 80px;
      width: auto;
    }

    &__title {
      line-height: 1.5;
      color: $master-detail-text-main-color;
    }

    &__subtitle {
      font-size: 1.4rem;
      margin: 0;
    }
  }

  &--select-no {
    user-select: none !important;
  }
}
