// RESPONSIVE_SIZES
$screen-xs: 359px;
$screen-sm: 449px;
$screen-md: 639px;
$screen-lg: 959px;
$screen-xl: 1199px;
$screen-xxl: 1599px;


$responsive-map: (screen-xs: xs, screen-sm: s, screen-md: m, screen-lg: l, screen-xl: xl, screen-xxl: xxl);
