.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-timing-function: ease;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
