$primary-color: #5e6cf5;
$secondary-color: #FF5F16;
$secondary-color-dark: #02343b;
$background-color: #f7fbfc;
$white-color: #fff;
$title-color: #2E343E;
$text-color: #6F7782;
$error-title-color: #43587b;
$error-text-color: #546887;
$light-text-color: #f0f2f6;
$muted-color: #999;
$light-muted-color: #E7EBED;
$shadow-color: rgba(64, 78, 110, .14);

$low-priority: #2ED4B3;
$medium-priority: #FF9E14;
$high-priority: #FF4073;

$danger-color: #f54c62;
$warning-color: #FF5F16;
$success-color: #2ED4B3;
$draft-color: #3088d4;
